{{with .data}}
{{if eq $.attribute.Type "textarea"}}
<span class="inline-block whitespace-pre-line">
  {{- formatObservationValue $.attribute .Value -}}
</span>
{{else}}
{{formatObservationValue $.attribute .Value}}
{{end}}
{{else}}
<p class="text-gray-500">(Onbekend)</p>
{{end}}
