<label class="col-span-12 sm:col-span-5 md:col-span-4 py-2 sm:pr-2 sm:mb-5 text-gray-600 font-medium break-words" for="attribute-naam">Naam van de persoon</label>
<div class="col-span-12 sm:col-span-7 md:col-span-8 mb-5 sm:mb-7">
  <input type="text" id="attribute-naam"
  class="block w-full border border-gray-300 text-gray-800 text-sm rounded-lg focus:outline-none focus:ring-1 focus:ring-sky-500 focus:border-sky-500 block p-2.5 placeholder:text-gray-400"
  name="naam" placeholder="Naam"{{with .Naam}} value="{{.}}"{{end}} autocomplete="off" autofocus>
</div>

<label class="col-span-12 sm:col-span-5 md:col-span-4 py-2 sm:pr-2 sm:mb-5 text-gray-600 font-medium break-words" for="attribute-geboortedatum">Geboortedatum</label>
<div class="col-span-12 sm:col-span-7 md:col-span-8 mb-5 sm:mb-7">
  <mk-datetimepicker id="attribute-geboortedatum" name="geboortedatum" placeholder="Geboortedatum"{{with .Geboortedatum}} value="{{.Time}}"{{end}} date-only></mk-datetimepicker>
</div>
